.menuAdmins{
    @include boite(15em, 90vh);
    background-color: $couleur3;
    position: fixed;
    top: 4em;
    left: 0;

    .navUl2{
        @include boite(100%, 100%);
        @include flexer(center, flex-start, column);

        .navList2{
            // @include border();
            @include boite(14em, 3em);
            margin: 10px 0px 10px 0px;
            @include flexer(center, '');
            border-radius: 5px;

            &:hover{
                background-color: $theme2;
            }

            p{
                @include boite(2.5em, 2.5em);
                // @include border();
                border-radius: 2em;
                margin: 0px 5px 0px 5px;

                @include flexer(center, center);

                i{
                    color: $theme3;
                }
            }
            .navLink2{
                margin: 0px 5px 0px 5px;
                color: $theme3;
                text-decoration: none;
                letter-spacing: 0.5px;
                @include boite(100%, 100%);
                @include flexer(center, "");
                
            }
        }
        .navList1_2{
            background-color: $theme3;
            border-radius: 5px;
            color: $theme;

            &:hover{
                background-color: $theme3;
            }
            i{
                color: $theme!important;
            }
            .navLink2{
                margin: 0px 5px 0px 5px;
                color: $theme;
                text-decoration: none;
                letter-spacing: 0.5px;  
            }
        }
    }
}

.containMembre{
    // @include border();
    @include boite(80%, "");
    @include flexer(center, center, column);
    
    margin-left: 16em;
    margin-top: 4em;

    .lister{
        // @include border();
        @include boite(80%, "");
        @include flexer(center, "", column);

        .containMembre2{
            @include boite(100%, "");

            .membre{
                // @include border();
                @include boite(100%, 4em);
                border-radius: 5px;
                @include flexer(center, space-between);
                background-color: $theme;
                margin: 10px 0px 2px 0px;
    
                .profil2{
                    // @include border();
                    @include boite(15em, 4em);
                    @include flexer(center, flex-start);
    
                    .profilImg{
                        @include border();
                        @include boite(3em, 3em);
                        border-radius: 2em;
                        margin: 10px;
                        overflow: hidden;
    
                        img{
                            @include boite(100%, 100%);
                            border-radius: 2em;
                        }
                    }
                    .nameUser4{
                        color: $couleur2;
                    }
                    
                }
                .Contacter{
                    // @include border();
                    @include boite(3em, 3em);
                    @include flexer(center, center);
    
                    i{
                        font-size: 20px;
                        color: $couleur2;
                    }
                }
            }
            
            .invisible{
                display: block;
                transition: 0.5s;
            }
        }
        
    }
    .lister2{
        // @include border();
        @include boite(80%, "");
        @include flexer(center, "", column);

        .cadreContenue{
            @include boite(100%, 14em);
            @include flexer(center, space-between);
            margin-top: 1em;
            margin-bottom: 1em;
            background-color: $theme;
            border-radius: 10px;
            overflow: hidden;

            .saryVideo{
                @include boite(20em, 100%);
                // @include border();

                img{
                    @include boite(100%, 100%);
                }
            }
            .infoAll{
                // @include border();
                @include boite(34em, 100%);
                @include flexer(center, space-between, column);

                .titre2{
                    // @include border();
                    width: 100%;
                    padding: 5px;
                    color: $couleur2;
                    font-weight: bold;  
                }
                .date2{
                    // @include border();
                    width: 100%;
                    padding: 5px;
                    font-size: 13px;
                    color: $sousText
                }
                .lorem{
                    // @include border();
                    padding: 5px;
                    letter-spacing: 0.5px;
                }
                .containBtnModif{
                    @include boite(100%, 3em);
                    // @include border();
                    @include flexer(center, flex-end);

                    .modif{
                        @include boite(3em, 2.5em);
                        font-weight: bold;
                        margin-right: 10px;
                        background-color: $couleur2;
                        color: $theme;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                    }
                    .red{
                        background-color: red;
                    }
                }
            }
        }
    }
    .containBtnInsert{
        @include boite(100%, 4em);
        @include flexer(center, center);

        .insert{
            @include boite(15em, 3em);
        }
    }
}
.containEnvMes{
    @include boite(100%, 20em);
    // display: none;
    margin-top: 5em;

    background-color: $couleur3;

    h5{
        // @include border();
        @include boite(100%, 2em);
        text-align: center;
        @include flexer(center, center);
    }
    form{
        @include boite(100%, "");
        @include flexer(center, center, column);
        // padding: 5px;
        margin-top: 2em;

        #IenvAdm{
            @include boite(63.5%, 3em);
            margin-top: 1em;
        }
    
    }
}
.containForm7{
    @include boite(100%, 100vh);
    background-color: $theme5;
    @include flexer(center, center);
    visibility: hidden;

    position: fixed;
    top: 0;
    z-index: 10;

    .btnClose{
        background-color: red;
        border-radius: 2em;
        @include boite(2em, 2em);
        border: none;
        color: $theme;
        font-weight: bold;

        position: absolute;
        top: 9em;
        right: 25.7em;
    }
    form{
        @include boite(40em, 25em);
        // @include border();
        @include flexer(center, "", column);
        background-color: $theme2;
        padding: 5px;

        input{
            @include boite(95%, 2.5em);
            margin: 5px;
        }
        textarea{
            @include boite(95%, "");
            margin: 5px;
        }
        #ISub{
            margin-top: 3em;
        }
    }
}
.containForm8{
    @include boite(100%, 100vh);
    background-color: $theme5;
    @include flexer(center, center);
    // visibility: hidden;
    
    form{
        @include boite(40em, 25em);
        // @include border();
        @include flexer(center, "", column);
        background-color: $theme2;
        padding: 5px;

        input{
            @include boite(95%, 2.5em);
            margin: 5px;
        }
        textarea{
            @include boite(95%, "");
            margin: 5px;
        }
        #ISub{
            margin-top: 3em;
        }
    }
}

